:root {
  --main-background: #161910;
  --secondary-background: #083d77;
  --accent1: #95190c;
  --accent2: #02a9ea;
  --text-color: #9dbabe;
}

.sessionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.sessionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-bottom: 3px solid var(--secondary-background);
}
.titleAndDate {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sessDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.descTitle {
  display: flex;

  
  font-size: 20px;
  border-bottom: 5px double var(--secondary-background);
  margin-top: 25px;
}
.dateTime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
}
.currentPlayerList {
  width: 500px;
  display: flex;
  margin: 5px;
  justify-content: space-evenly;
}
.players {
  display: flex;
  height: 100;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.applicantsModal {
  z-index: 50;
  position: absolute;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--secondary-background);
  border-radius: 10px;
  background-size: cover;
  height: 450px;
  width: 800px;
  background-color: #161910;
}
.singleApplicant {
  display: flex;
  border: 3px solid var(--accent1);
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: rgba(25, 25, 25, 0.7);
  background-blend-mode: darken;
}

.applicationText {
  margin: auto;
}

.closeButton {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  margin-bottom: 10px;
}
.fa-times-circle {
  cursor: pointer;
}
.applicantButtons {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.profileModal {
  z-index: 100;
  position: absolute;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--secondary-background);
  border-radius: 10px;
  background-size: cover;
  height: 450px;
  width: 800px;
  background-color: #161910;
}
